<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Titulo %>
    <%= form.text_field :title, id: :entry_title %>
  </div>

  <div class="field">
    <%= form.label :Subtitulo %>
    <%= form.text_field :subtitle, id: :entry_subtitle %>
  </div>

  <div class="field">
    <%= form.label :Contenido%>
    <%= form.text_area :content, id: :entry_content %>
  </div>


  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :entry_fecha %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
