<p id="notice"><%= notice %></p>

<h1>Administrar Noticias</h1>

<%= link_to 'New Entry', new_entry_path %>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.fecha %></td>
        <td><%= link_to 'Ver', entry %></td>
        <td><%= link_to 'Editar', edit_entry_path(entry) %></td>
        <td><%= link_to 'Eliminar', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
