
<div class="container" style="background-color: #DFDDD7">
<p>
  <h2 strong><%= @entry.title %></h2 strong>
</p>

<p>
  <h4><%= @entry.subtitle %></h4>
</p>

<p>
  <p><%= simple_format @entry.content %></p>
</p>

<p>
  <p>Fecha publicación: <%= @entry.fecha %></p>
</p>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin%>
    <%= link_to 'Edit', edit_entry_path(@entry) %> |
    <%= link_to 'Volver a listado de noticias', entries_path %>
  <% end %>
<% end%>

</div>

<%= form_with(model: @comment, local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3 strong>Agregar un comentario: </h3 strong>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name, id: :comment_name %>
  </div>

  <div class="field">
    <%= form.label :Comentario %>
    <%= form.text_area :content, id: :comment_content %>
  </div>

  <div class="field">
    <%= form.hidden_field :entry_id, id: :comment_entry_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div class="container">
<div class="row">
<table>
  <tbody>
    <% @entry.comments.each do |comment| %>
      <tr>
        <div class="col-6 col-lg-4">
          <div class="container" style="background-color: #DFDDD7">
        <h4><%= comment.name %></h4>
        <p><%= simple_format comment.content %></p>
        <% if user_signed_in? %>
          <% if current_user.has_role? :admin%>
            <p><%=link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        <% end%>
        </div>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
