<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Chilean News</title>
  </head>
  <body>
    <!-- <%= link_to "Noticias", entries_path %> -->

    <h2 align = "center">Noticias a la hora</h2>
    <div class="container">
    <div class="row">

        <% var = 0%>
        <% Entry.all.reverse_each do |entry| %>
        <% var+=1 %>
        <% break if var==11%>
          <tr>
            <div class="col-6 col-lg-6">
              <div class="container" style="background-color: #DFDDD7">
            <h4><%= entry.title %></h4>
            <h6><%= entry.subtitle %></h6>
            <%= simple_format truncate(entry.content, length: 500, separator: " ")%>
            <!-- <% if entry.content.length <= 500%>
              <p><%= simple_format(entry.content) %></p>
            <% else %>
              <p><%= simple_format(entry.content[0...477])%>...</p>
            <% end %> -->
            <p align="right">Comentarios: <%= entry.comments.count%></p>
            <p align="right">Fecha publicación: <%= entry.fecha %></p>

            <p><%= button_to 'Ver completa', entry, :method => :get%></p>

            <% if user_signed_in? %>
              <% if current_user.has_role? :admin%>
              <p align ="right"> <%=link_to 'Edit - ', edit_entry_path(entry)%> <%=link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              <% end%>
            <% end%>
            </div>
            </div>
          </tr>
        <% end %>

    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
